/* later to delete */

* {
    border: 1px dotted white; 
}

/* color variables */

:root {
    --color-main-dark: #283739;
    --color-off-dark: #1a1818e5;
    --color-main-blue: #2c5d63;
    --color-main-yellow: #a9c52f;
}

/*intro field*/

body {
    background-color: var(--color-main-dark);
    padding: none;
    margin: none;
}

h1,
p,
.introduction,
.option {
    font-family: "Exo 2", serif;
    color: var(--color-main-yellow);
    text-align: center;
}

h1 {
    padding: 1rem;
    height: 20vh;
}

.fade-in-text {
    opacity: 0;
    animation: fadeInAnimation 3s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
      opacity: 0; /* Start with an opacity of 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }

/*game field*/

.button {
    font-size: xx-large;
    border: 3px solid var(--color-main-yellow);
    font-family: "Exo 2", serif;
    font-weight: 900;
    color: var(--color-main-yellow);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.field {
    border: 3px solid var(--color-main-yellow);
    width: 90vw;
    height: 20vh;
    border-radius: 1rem;
}

.right {
    border-left: none;
    border-radius: 0 3rem 3rem 0;
}

.left {
    border-right: none;
    border-radius: 3rem 0 0 3rem;
}

/*player input*/

.option-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.option {
    display: grid;
    place-items: center;
    font-size: 2rem;
    border: 3px solid var(--color-off-dark);
    border-radius: 1rem;
    height: 50px;
    width: 50px;
    background-color: var(--color-main-dark);
}

.option * {
    color: var(--color-off-dark);
}

.player:hover,
.player:hover i {
    transform: scale(1.1);
    color: var(--color-main-blue);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player:hover {
    box-shadow: 0px 0px 15px var(--color-main-blue);
    border: 3px solid var(--color-main-blue);
}

.player:active,
.player:active i {
    color: var(--color-main-yellow);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player:active {
    box-shadow: 0px 0px 15px var(--color-main-yellow);
    border: 3px solid var(--color-main-yellow);
}

/*cpu input*/

.no-border {
    border: none;
}

/*animations*/

.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 0.7s forwards;
}

@keyframes slide-in {
0% {
    opacity: 0;
    transform: translateX(-100%);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}
    
.slide-out {
    opacity: 1;
    transform: translateX(0);
    animation: slide-out 0.7s forwards;
  }
  
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
