/* later to delete */

* {
    border: 1px dotted white; 
}

/* color variables */

:root {
    --color-main-dark: #283739;
    --color-off-dark: #f5f5f500;
    --color-main-blue: #2c5d63;
    --color-main-yellow: #a9c52f;
}

body {
    background-color: var(--color-main-dark);
    padding: none;
    margin: none;
}

h1,
p,
.introduction,
.option {
    font-family: "Exo 2", serif;
    color: var(--color-main-yellow);
    text-align: center;
}

h1 {
    padding: 1rem;
    height: 12vh;
}

.introduction {
    height: 1px;
    font-size: small;
    font-weight: 100;
    color: transparent;
}

.button {
    font-size: xx-large;
    border: 3px solid var(--color-main-yellow);
    font-family: "Exo 2", serif;
    font-weight: 900;
    color: var(--color-main-yellow);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;

}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.field {
    border: 3px solid var(--color-main-yellow);
    width: 90vw;
    height: 20vh;
    border-radius: 3rem;
}

.right {
    border-left: none;
    border-radius: 0 3rem 3rem 0;
}

.left {
    border-right: none;
    border-radius: 3rem 0 0 3rem;
}