
/* color variables */

:root {
    --color-main-dark: #00204a;
    --color-off-dark: #005792; 
    --color-main-blue: #00bbf0; 
    --color-main-yellow: #fdb44b;
}

/*top field*/

body {
    background-color: var(--color-main-dark);
    padding: none;
    margin: none;
}

#message,
p,
.option,
.player-score,
.cpu-score,
.option-container,
#scrn-cpu {
    font-family: "Exo 2", serif;
    color: var(--color-main-yellow);
    text-align: center;
}

#scrn-cpu {
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#message {
    padding: 1rem;
    height: 20vh;
}

/*game field*/

.button {
    font-size: xx-large;
    border: 3px solid var(--color-main-yellow);
    font-family: "Exo 2", serif;
    font-weight: 900;
    color: var(--color-main-yellow);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    height: fit-content;
    width: fit-content;
    margin: 1.5rem auto;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.field {
    border: 3px solid var(--color-main-yellow);
    width: 90vw;
    height: 20vh;
    border-radius: 1rem;
}
#scrn-button:hover {
    cursor: pointer;
}
/*player input*/

.option-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem;
}

.option {
    display: grid;
    place-items: center;
    font-size: 2rem;
    border: 3px solid var(--color-off-dark);
    border-radius: 1rem;
    height: 50px;
    width: 50px;
    background-color: var(--color-main-dark);
}

.option * {
    color: var(--color-off-dark);
}

.player:hover,
.player:hover i {
    transform: scale(1.1);
    color: var(--color-main-blue);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player:hover {
    box-shadow: 0px 0px 15px var(--color-main-blue);
    border: 3px solid var(--color-main-blue);
}

.player:active,
.player:active i {
    color: var(--color-main-yellow);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player:active {
    box-shadow: 0px 0px 15px var(--color-main-yellow);
    border: 3px solid var(--color-main-yellow);
}

.no-click {
    pointer-events: none;
    cursor: none;
}
/*separator*/

.field-middle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.separator {
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    height: 1px;
    border: 1px solid var(--color-main-yellow);
    border-radius: 1rem;
    background-color: var(--color-main-yellow);
}

/*animations*/

.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 0.7s forwards;
}

@keyframes slide-in {
0% {
    opacity: 0;
    transform: translateX(-100%);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}
    
.slide-out {
    opacity: 1;
    transform: translateX(0);
    animation: slide-out 0.7s forwards;
  }
  
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  /* Mobile Styles */
@media only screen and (max-width: 400px) {
    .option {
        border: 3px solid var(--color-main-blue);
        box-shadow: 0px 0px 15px var(--color-main-blue);
    }
    .option * {
        color: var(--color-main-blue);
    }
} 
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        width: 85vw;
        margin: auto;
    }
    #message {
        height: 22vh;
        font-size: 1.9em;
    }
    .option {
        border: 3px solid var(--color-main-blue);
        box-shadow: 0px 0px 15px var(--color-main-blue);
    }
    .option * {
        color: var(--color-main-blue);
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
        width: 50vw;
        margin: auto;
    }
    .field {
        width: 40vw;
    }
  }
